Streamlit == 0.88.0
pandas
numpy
tensorflow
matplotlib.pyplot
seaborn
FinanceDataReader
sklearn.preprocessing
sklearn.model_selection
tensorflow.keras.models
tensorflow.keras.layers
tensorflow.keras.losses
tensorflow.keras.optimizers
nltk.corpus
string
sklearn.feature_extraction.text
sklearn.metrics
sklearn.naive_bayes
wordcloud
fbprophet
string
platform
